<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="assets/css/main.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/academico.css" />
    <title>Carreira</title>
</head>

<body>
    <header class="c-header">
        <div class="logo">
            <img id="logo" src="assets/img/Logo.svg" alt="" onclick="location.href = '/';" />
        </div>

        <nav id="nav" class="nav-bar">

            <div id="menu-bar" class="menu-items">
                <button id="btnBurger"> <span class="iconify" data-icon="fa:bars" style="color: #4b87ff;" data-width="40" data-height="40"> </span> </button>
                <button id="btnCloseBurger"> <span  class="iconify" data-icon="mdi:close" style="color: red;" data-width="40" data-height="40"></span></button>
            </div>

            <ul class="menu">
                <li class="menu-items" onclick="location.href = '/';">Início</li>
                <li class="menu-items" onclick="location.href = '/academico';">Acadêmico</li>
                <li id="active" class="menu-items" onclick="location.href = '/carreira';">Carreira</li>
                <li class="menu-items" onclick="location.href = '/teste';">Teste Vocacional</li>
                <li class="menu-items"><button onclick="location.href = '/register';" class="menu-button">Entrar</button></li>
            </ul>
        </nav>
    </header>
    <main class="container">
        <% var phraseCount = 0 %>
            <% for (var i = 0; i < carreiras.length; i++) { %>
                <div class="box">
                    <div class="box-items">
                        <div class="image-item">
                            <img src="<%= carreiras[i].img %>" alt="">
                        </div>
                        <div class="content-item">
                            <h4>
                                <%= carreiras[i].name %>
                            </h4>
                            <p>
                                <%= carreiras[i].introduction %>
                            </p>
                            <form method="POST" action="/carreira-saiba-mais/<%= carreiras[i].id %>">
                                <button class="more-button"
                                   type="sbumit">Saiba
                                    Mais</button>
                            </form>
                        </div>

                    </div>
                </div>

                <% } %>

                    <div class="frase">
                        <h4>Frase Motivacional</h4>
                        <p>
                            <%= phrases[phraseCount].phrase %> <br><br><span>- <%= phrases[phraseCount].author %></span></p>
                        <% phraseCount++ %>
                    </div>

    </main>

    <div class="change-theme-container change-theme-button">
        <span class="iconify" data-icon="fluent:dark-theme-24-filled" data-width="22px" style=" color: var(--text); "></span>
    </div>

    <script src="https://code.iconify.design/2/2.0.3/iconify.min.js"></script>
    <script type="text/javascript" src="burguerdrop.js"></script>
    <script type="text/javascript" src="theme-toggle.js"></script>
</body>

</html>