<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/saiba-mais.css" />
    <title>Saiba Mais</title>
</head>

<body class="background-know-more" style="background-image: url('<%= more[0].img %>');">
    <header class="c-header">
        <div class="logo">
            <img id="logo" src="/assets/img/Logo.png" alt="" onclick="location.href = '/';" />
        </div>

        <nav id="nav" class="nav-bar">

            <div id="menu-bar" class="menu-items">
                <button id="btnBurger"> <span class="iconify" data-icon="fa:bars" style="color: #4b87ff;" data-width="40" data-height="40"> </span> </button>
                <button id="btnCloseBurger"> <span  class="iconify" data-icon="mdi:close" style="color: red;" data-width="40" data-height="40"></span></button>
            </div>

            <ul class="menu">
                <li class="menu-items" onclick="location.href = '/';">Início</li>
                <li id="active" class="menu-items" onclick="location.href = '/academico';">Acadêmico</li>
                <li class="menu-items" onclick="location.href = '/carreira';">Carreira</li>
                <li class="menu-items" onclick="location.href = '/teste';">Teste Vocacional</li>
                <li class="menu-items"><button onclick="location.href = '/register';" class="menu-button">Conta</button></li>

            </ul>
        </nav>
    </header>
    <main class="main-content">
      <div class="article">
        <h1><%= more[0].name %></h1>
        <h4><%= more[0].introduction %></h3>
        <hr></hr>
        <h4 class="title-article">O que é o <%= more[0].name %>?</h4>
        <p><%= more[0].description %></p>
        </div>

    </main>

    <div class="change-theme-container change-theme-button">
        <span class="iconify" data-icon="fluent:dark-theme-24-filled" data-width="22px" style=" color: var(--text); "></span>
    </div>

    <script src="https://code.iconify.design/2/2.0.3/iconify.min.js"></script>
    <script type="text/javascript" src="/burguerdrop.js"></script>
    <script type="text/javascript" src="/theme-toggle.js"></script>
</body>

</html>